{% extends 'admin.html.twig' %}

{% block title %}BlogPost index{% endblock %}

{% block body %}

  <div class="col-md-12 col-sm-12">
      <div class="card">
          <div class="card-header">

          </div>
          <div class="card-body">
              <table class="table">
                  <thead>
                  <tr>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Content</th>
                      <th>actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for blog_post in blog_posts %}
                      <tr>
                          <td>{{ blog_post.id }}</td>
                          <td>{{ blog_post.Title }}</td>
                          <td>{{ blog_post.Description }}</td>
                          <td>{{ blog_post.Content }}</td>
                          <td>
                              <a href="{{ path('app_blog_post_show', {'id': blog_post.id}) }}">show</a>
                              <a href="{{ path('app_blog_post_edit', {'id': blog_post.id}) }}">edit</a>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="5">no records found:&nbsp;&nbsp;  <a href="{{ path('app_blog_post_new') }}">Create new</a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
          <div class="card-footer">

          </div>
      </div>

  </div>



{% endblock %}