
{{ form_start(form) }}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.Title,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.Description,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <button type="submit" class="btn btn-sm mt-1 btn-primary">Save</button>

</div>

{{ form_row(form._token) }}
{{ form_end(form,{'render_rest':false}) }}