{% extends 'admin.html.twig' %}

{% block title %}Tags index{% endblock %}

{% block body %}
    <h1>Tags index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.Title }}</td>
                <td>{{ tag.Description }}</td>
                <td>{{ tag.CreatedAt ? tag.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tag.UpdatedAt ? tag.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_blog_tags_show', {'id': tag.id}) }}">show</a>
                    <a href="{{ path('app_blog_tags_edit', {'id': tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blog_tags_new') }}">Create new</a>
{% endblock %}