<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Isikeke{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="{{ asset('admin/assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/assets/plugins/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{{ asset('admin/assets/css/dataTables.bootstrap4.min.css') }}">

    <link rel="stylesheet" href="{{ asset('admin/assets/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('admin/assets/css/style.css') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block header_js %}{% endblock %}
</head>


<body>
<div  class="main-wrapper">
{{ include('Admin/_shared/header.html.twig') }}
    {{ include('Admin/_shared/sidebar.html.twig') }}

    <div class="page-wrapper bg-wrapper">
        <div class="content">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('admin/assets/js/jquery-3.6.0.min.js') }}"></script>

<script src="{{ asset('admin/assets/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ asset('admin/assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('admin/assets/js/dataTables.bootstrap4.min.js') }}"></script>

<script src="{{ asset('admin/assets/js/select2.min.js') }}"></script>

<script src="{{ asset('admin/assets/js/jquery.slimscroll.js') }}"></script>

<script src="{{ asset('admin/assets/plugins/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ asset('admin/assets/js/chartdata.js') }}"></script>
<script src="{{ asset('admin/assets/plugins/amchart/js/responsive.min.js') }}"></script>

<script src="{{ asset('admin/assets/js/app.js') }}"></script>

<script>
    window.oncontextmenu = null;
</script>
{% block page_level_js %}{% endblock %}

</body>
</html>